/*
* Define an ID by using '#'. An ID is unique, there should only be one of them per page.
*/
#header {
  font-size: 60px;
  text-align: center;
  padding: 0px;
}

/*
* Classes are used to define a style for special types of elements.
*/
p.error {
  color: red;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
